<div class="container">
    <div class="add-product" *ngIf = "selectedPage.currentPage == 1">

        <form #f1 = ngForm id="add-prod-form" (ngSubmit) = 'addProduct()'>
          <div class="mb-3">
            <label for="brand" class="form-label">Brand</label>
            <input type="text" class="form-control" id="brand"  name="brand" [(ngModel)] = 'newP.name' required>
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" name="price" [(ngModel)] = 'newP.price' required>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)] = 'newP.description' required>
          </div>
          <div class="mb-3">
            <label for="id" class="form-label">Id</label>
            <input type="number" class="form-control" id="id" name="id" required [(ngModel)] = 'newP.id'>
          </div>
          <div class="mb-3">
            <label for="imgUrl" class="form-label">Imgae Url</label>
            <input type="text" class="form-control" id="imgUrl" name ="imgUrl" [(ngModel)] = 'newP.imageUrl' required>
          </div>

          <button type="submit" class="btn btn-primary" [disabled] = "!f1.valid" >Submit</button>
        </form>

    </div>

    <div class="add-customer" *ngIf = "selectedPage.currentPage == 2">

        <form #f2 = ngForm id="add-cust-form" (ngSubmit) = 'addCustomer()'>
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" [(ngModel)] = 'newC.name' required>
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Age</label>
              <input type="number" class="form-control" id="age" [(ngModel)] = 'newC.age' required>
            </div>
            <div class="mb-3">
              <label for="year" class="form-label">Year</label>
              <input type="number" class="form-control" id="year" [(ngModel)] = 'newC.years' required>
            </div>
            <div class="mb-3">
              <label for="id" class="form-label">Id</label>
              <input type="number" class="form-control" id="id" [(ngModel)] = 'newP.id' required>
            </div>
            <div class="mb-3">
              <label for="imgUrl" class="form-label">Imgae Url</label>
              <input type="text" class="form-control" id="imgUrl" [(ngModel)] = 'newP.imageUrl'>
            </div>
            
            <button type="submit" class="btn btn-primary" [disabled] = "!f2.valid">Submit</button>
        </form>

    </div>
</div>
